# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Rider
.idea/
*.sln.iml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
# The packages folder can generally be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet Symbol Packages
*.snupkg

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# NUnit
TestResult.xml

# Build results
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# xUnit
xunit-results.xml

# Coverlet
coverage.json
coverage.xml
coverage.cobertura.xml
coverage.opencover.xml

# Code coverage (Visual Studio)
*.coverage
*.coveragexml

# Android Studio / Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.iml
.idea/modules.xml
.idea/workspace.xml
.DS_Store
captures/
.externalNativeBuild
.cxx
*.keystore

# macOS
.DS_Store

# Avalonia
*.Avalonia/
