<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application android:allowBackup="true"
               android:label="Remex"
               android:supportsRtl="true"
               android:extractNativeLibs="false"
               android:theme="@style/MyTheme.NoActionBar"
               android:requestLegacyExternalStorage="true"
               android:fullBackupContent="@xml/backup_rules"
               android:dataExtractionRules="@xml/data_extraction_rules">

    <service android:name=".Services.RemexTileService"
             android:label="Remex Lock"
             android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
             android:exported="true">
        <intent-filter>
            <action android:name="android.service.quicksettings.action.QS_TILE" />
        </intent-filter>
    </service>

    <receiver android:name=".Services.RemexWidgetProvider"
              android:label="Remex Telemetry"
              android:exported="true">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data android:name="android.appwidget.provider"
                   android:resource="@xml/remex_widget_info" />
    </receiver>

  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>
